body {
    width: 100vw;
}

table {
    border-collapse: collapse;
    width: auto;
    overflow-x: auto;
}

th,
td {
    border: 1px solid #333;
    min-width: 80px;
    max-width: 80px;
}

td:focus {
    outline: none;
}